Repository neu5-przenz-games/the-game, pull requests merged in 2021-03, with the labels that each got.

#21 Make Dev build on staging and prod build on prod; resolves #20
  .gitignore
  package.json
Labels: :hammer_and_pick: configuration and tooling

#46 Add basic chat room
  backend/index.js
  src/game.js
  src/index.html
  src/scenes/GameScene.js
  src/styles/styles.css
  src/ui/chat.js
Labels: :taco: game UI

#62 Fix characters labels positioning
  src/gameObjects/Skeleton.js
Labels: :video_game: game rendering
